<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="fontawesome-free-5.15.4-web/css/all.css">
  <link rel="stylesheet" href="css/style.css">
  <title>Events - AMRITA VISHWA VIDYAPEETHAM</title>
</head>

<body>
  <!-- HEADER SECTION -->
  <header>
    <div class="p-1" id="topHeader">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <a class="p-1" href="tel:+91 (422) 2685 000"> <i class="fas fa-phone"></i> +91 (422) 2685 000 </a>
            <a class="p-1" href="mailto:btech@amrita.edu"> <i class="fas fa-envelope"></i> btech@amrita.edu </a>
          </div>
        </div>
      </div>
    </div>
    <div id="bottomHeader">
      <div class="container-fluid" id="hdr">
        <nav class="navbar navbar-dark navbar-expand-md" style="background-color:#004d80;">
          <a class="navbar-brand" href="/">
            <img src="imgs/logo.png" width="250px" alt="logo">
          </a>
          <button data-toggle="collapse" data-target="#navbarToggler" type="button" class="navbar-toggler"><span
              class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/course">Course</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admission">Admission</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About Us</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">More</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/contact">Contact</a>
                  <a class="dropdown-item" href="/event">Events</a>
                  <a class="dropdown-item" href="/gallery">Gallery</a>
                </div>
  
              </li>
            </ul>
          </div>
        </nav>
  
      </div>
    </div>
  
  </header>
  <!-- END OF HEADER SECTION -->

  <!-- BREAD CRUMB -->

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="default.html">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Events</li>
    </ol>
  </nav>


  <!-- Page title -->

  <section class="pagetitle">
    <div class="container-fluid my-3">
      <div class="row">
        <div class="col-12 text-center">
          <hr>
          <h2>
            Events at Amrita
          </h2>
        <hr>
        </div>
      </div>
    </div>
  </section>

  <!-- VIDEO -->
  <section>
    <div class="container-fluid px-2" style="padding: 10px;">
      <div class="row">
        <div class="col-12 text-center p-3">
          <video autoplay muted>
            <source src="videos/event.mp4" type="video/mp4">
          </video>
        </div>

      </div>
    </div>
  </section>


  <div class="container-fluid px-5">

    <div class="row text-justify">
      <div class="col-md-12">
        <p>The Amrita Center for International Programs (ACIP) is the central point for international academic
          relations
          at Amrita Vishwa Vidyapeetham. It is responsible for the coordination and administration of international
          educational and research activities for the institution. The Center focuses on enhancing education and
          research by bringing together students, teachers, and academicians from around the world to create an
          opportunity for the rich and diverse exchange of knowledge and ideas.</p>
      </div>

    </div>
  </div>

  <section>
    <div class="container-fluid px-2 ">

      <div class="row">
        <div class="col-12 text-center p-3 mt-2">
          <h3
            style="color: #004d80; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
            International Admissions </h3>
        </div>
      </div>
      <hr class="bodyhr">

      <div style="padding: 10px;">
        <div>
          <img alt="" id="aganimg" style="float: left;" class="img-fluid p-3 m-2" src="imgs/int_eng.jpg" />
        </div>

        <div class="m-2"
          style="text-align: justify; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
          <p>International engagement is the corner stone of pursuing our vision of a world endowed with knowledge and
            compassion. Expand your horizon &amp; perceptions through full-time studies, student exchanges, integrated
            programs, dual-degree programs, internships, and the immersive Live-in-Labs® research program.</p>
          <p>
            Over the years, Amrita has developed working relationships with many of the best universities in the world.
            The Center for International Programs plays a developmental, strategic, and co-coordinating role in the
            University's international work, seeking to provide quality support both internally and externally. Strong
            collaboration with national and international organizations is a hallmark of research carried out at Amrita.
          </p>
          <p>
            We collaborate globally with universities, professors, lectures, researchers, and students to learn, grow,
            research, invent, experiment and explore, through values-based education, how modern science, technology,
            and information, can be harnessed and applied to the social benefit of all society.
          </p>
        </div>
      </div>
    </div>
  </section>


  <!-- LIVE IN LABS -->

  <section>
    <div class="container-fluid px-2 ">

      <div class="row">
        <div class="col-12 text-center p-3 mt-2">
          <h3
            style="color: #004d80; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
            Live-in-Labs </h3>
        </div>
      </div>

      <hr class="bodyhr">

      <div style="padding: 10px;">
        <div>
          <p class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" height="260"
              src="https://www.youtube.com/embed/5qaan85ov4U?rel=0&amp;autohide=1&amp;showinfo=0"></iframe></p>
        </div>

        <div class="m-2"
          style="text-align: justify; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
          <p>Amrita Live-in-Labs® is a multidisciplinary experiential learning program that facilitates the
            research,
            development, and deployment of sustainable solutions for current challenges faced by rural communities
            in India.
            The program is designed to engage participants in a mutual learning and sharing experience by breaking
            classroom
            and lab barriers to implement theoretical knowledge to address real world problems. The program allows
            participants to study, observe, and interact with rural populations while living in rural communities
            to gain a better understanding of challenges in the areas of Agriculture, Risk Management, Education, Gender
            Equality, Energy, Environment, Livelihood, Skill Development, Water Sanitation, Health, Hygiene and
            Waste Management Infrastructure</p>
        </div>
      </div>
    </div>
  </section>

  <hr class="bodyhr">

  <!-- International Programs -->

  <section>
    <div class="container-fluid" style="padding: 10px;">
      <div class="card-deck">
        <div class="col-md-6 col-lg-3 text-center px-lg-2 py-lg-5 py-3 px-1">
          <div class="card shadow h-100">
            <img src="imgs/research.jpg" class="card-img-top" alt="International Internship Program">
            <div class="card-body">
              <h5 class="card-header">International Internship Program</h5>
              <p class="card-text text-left pt-3 pb-1">
                The Amrita Internship Program is a great way for international students and graduates to augment their
                studies and research while living and working in India. The program builds on one’s previous academic
                and professional experience, expands and deepens existing knowledge of a particular field, and provides
                an opportunity to collaborate with one of India’s premiere teaching and research institutions.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 text-center px-lg-2 py-lg-5 py-3 px-1">
          <div class="card shadow h-100">
            <img src="imgs/amritadhwani.jpg" class="card-img-top" alt="International Exchange Programs">
            <div class="card-body">
              <h5 class="card-header">International Exchange Programs</h5>
              <p class="card-text text-left pt-3 pb-1">
                The Amrita Center for International Programs welcomes applications from international students
                interested in living and studying in India for one or two semesters. We currently offers
                courses in Computer Science, Engineering, Business, Medicine, Dentistry, Pharmacy, Nursing, Ayurveda,
                Biotechnology, Nanotechnology, Arts and Sciences, Education,
                Communication/Journalism, and Social Work.
              </p>
            </div>

          </div>
        </div>
        <div class="col-md-6 col-lg-3 text-center px-lg-2 py-lg-5 py-3 px-1">
          <div class="card shadow h-100">
            <img src="imgs/placement.jpg" class="card-img-top" alt="International Dual Degrees">
            <div class="card-body">
              <h5 class="card-header">International Dual Degrees</h5>
              <p class="card-text text-left pt-3 pb-1">
                The Amrita Center for International Programs is proud to present the Amrita Dual Degree, an academically
                attractive alternative to traditional methods of study. Through the dual degree programs, Amrita
                students can undertake graduate coursework towards two separate degrees, simultaneously, usually
                completing the course in just two years.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 text-center px-lg-2 py-lg-5 py-3 px-1">
          <div class="card shadow h-100">
            <img src="imgs/alumni.jpg" class="card-img-top" alt="International Integrated Programs">
            <div class="card-body">
              <h5 class="card-header">International Integrated Programs</h5>
              <p class="card-text text-left pt-3 pb-1">
                Amrita offers a variety of integrated programs for
                students to choose from. The integrated programs for
                engineering and management students include the 4+1 program at the University of New Mexico, U.S.A. and
                at Oakland University, U.S.A, which enables students to complete their master’s degree in one year.
                Ecole Centrale Nantes, has tied up with Amrita to offer a
                3+1+2 program for undergraduate engineering students.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="row">
    <div class="col-12 text-center">
      <hr>
      <h1>
        Recent Events
      </h1>
      <hr>
    </div>
  </div>

  <div class="row">
    <!-- <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#past">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#upcoming">Link</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" role="tab" id="#past">Past Events</div>
      <div class="tab-pane" role="tab" id="#upcoming">Upcoming Events</div>
    </div> -->
    <div class="col-6 text-center">
      <div class="col-12 ml-1 recent-events">
        <hr>
        <h2>Past Events</h2>
        <hr>
        <% for(var i=0;i<p.length;i++) { %>
          <div class="card">
            <!-- <img src="imgs/alumni.jpg" class="card-img-top" alt="..." style="height: 30%;"> -->
            <div class="card-body">
              <h5 class="card-title">
                <%=p[i]['eventName'] %>
              </h5>
              <p class="card-text">
                <%=p[i]['details'] %>
              </p>
              <p class="card-text"><b>Venue : </b>
                <%=p[i]['venue'] %>
              </p>
              <p class="card-text"><b>Date : </b>
                <%=p[i]['date'] %>
              </p>
            </div>
          </div>
          <!-- <div class="card mb-3 event-card">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="imgs/alumni.jpg" class="img-fluid rounded-start" alt="..." style="width: 100%; height: 100%;">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">
                    <%=p[i]['eventName'] %>
                  </h5>
                  <p class="card-text">
                    <%=p[i]['details'] %>
                  </p>
                  <p class="card-text"><b>Venue : </b>
                    <%=p[i]['venue'] %>
                  </p>
                  <p class="card-text"><b>Date : </b>
                    <%=p[i]['date'] %>
                  </p>
                </div>
              </div>
            </div>
          </div> -->
          <% }%>
      </div>  
    </div>
    <div class="col-6 text-center">
      <div class="col-12 mr-1 recent-events">
        <hr>
        <h2>Upcoming Events</h2>
        <hr>
        <% for(var i=0;i<u.length;i++) { %>
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="imgs/alumni.jpg" class="img-fluid rounded-start" alt="..." style="width: 100%; height: 100%;">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">
                    <%=u[i]['eventName'] %>
                  </h5>
                  <p class="card-text">
                    <%=u[i]['details'] %>
                  </p>
                  <p class="card-text"><b>Venue : </b>
                    <%=u[i]['venue'] %>
                  </p>
                  <p class="card-text"><b>Date : </b>
                    <%=u[i]['date'] %>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <% }%>
    </div>
  </div>
</div>



  <!-- FOOTER SECTION -->
<footer class="full-footer">
  <div class="container top-footer p-md-3 p-1">
    <div class="row align-items-center">
      <div class="col-md-5 pt-3 pl-4 pr-4 text-center">
        <img class="img-fluid" src="imgs/logo.png" alt="logo">
        <p>
          Amrita is one of India's premiere teaching and research institutions and has been ranked in the “Ivy League”
          of Indian Universities by the Ministry of Education, Government of India... <a href="/about"><br>Read
            more...</a>
        </p>
        <a style="color:silver;" class="p-1" href="https://www.facebook.com/AmritaUniversity"><i
            class="fab fa-2x fa-facebook-square"></i></a>
        <a style="color: silver;" class="p-1" href="https://www.youtube.com/user/AmritaUniversity"><i
            class="fab fa-2x fa-youtube-square"></i></a>
        <a style="color: silver;" class="p-1" href="https://twitter.com/AMRITAedu"><i
            class="fab fa-2x fa-twitter-square"></i></a>
        <a style="color: silver;" class="p-1"
          href="https://www.linkedin.com/company/amrita-vishwa-vidyapeetham-official/"><i
            class="fab fa-linkedin fa-2x"></i></a>
        <a style="color: silver;" class="p-1" href="http://instagram.com/amrita_university"><i
            class="fab fa-2x fa-instagram"></i></a>
        <hr class="d-md-none">
      </div>

      <div class="col-md-3 px-4 text-center">

        <h3>Know Us More</h3>
        <a href="/course">
          <h5>Course</h5>
        </a>
        <a href="/admission">
          <h5>Admission</h5>
        </a>
        <a href="/about">
          <h5>About Us </h5>
        </a>
        <a href="/contact">
          <h5>Contact</h5>
        </a>
        <a href="/event">
          <h5>Events</h5>
        </a>
        <a href="/gallery">
          <h5>Gallery</h5>
        </a>
        <hr class="d-md-none">
      </div>

      <div class="col-md-4  px-4 text-center">
        <h3>Contact Us</h3>
        <a href="tel:+91 (422) 2685 000"><i class="fas fa-phone"></i> +91 (422) 2685 000</a><br>
        <a href="mailto:btech@amrita.edu"><i class="fas fa-envelope"></i> btech@amrita.edu </a><br>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3917.8015798388597!2d76.89843921475011!3d10.902679092235923!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba85c95d3e828eb%3A0x2785cb4510629029!2sAmrita%20Vishwa%20Vidyapeetham!5e0!3m2!1sen!2sin!4v1629991054542!5m2!1sen!2sin"
            frameborder="0"></iframe>
        </div>

      </div>
    </div>
  </div>
  <div class="container-fluid bottom-footer pt-2">
    <div class="row">
      <div class="col-12 text-center">
        <p>Copyrights © 2021 - All rights reserved</p>
      </div>
    </div>
  </div>
</footer>
<!-- END OF FOOTER SECTION -->
<script src="bootstrap/js/jquery-3.3.1.slim.min.js"></script>
<script src="bootstrap/js/popper.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>



</body>

</html>